/* initialisation */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p, a, h1, h2, h3 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 95%;
  margin: auto;
}

body {
  background-color: #f3f2ff;
}

body header {
  height: auto;
  background: url(/img/Design2.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

body header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32%;
}

body header .container #head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#acb0ff), to(#858bfd));
  background: linear-gradient(#acb0ff, #858bfd);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100vh;
  max-width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em 2em;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(686px at 0% 0%);
          clip-path: circle(686px at 0% 0%);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

body header .container #head .effect {
  -webkit-clip-path: circle(686px at 0% 0%);
          clip-path: circle(686px at 0% 0%);
}

body header .container #head #logo img {
  width: 180px;
  height: auto;
}

body header .container #head nav {
  margin-top: 6em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .container #head nav i {
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

body header .container #head nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body header .container #head nav ul li {
  margin: .75em 0;
}

body header .container #head nav ul li:hover {
  background-color: #858BFD;
  width: 100%;
  border-radius: 10px;
}

body header .container #head nav ul li a {
  font-size: 1.5rem;
  margin-top: 1.75em;
  color: #1F0D06;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
}

body header .container #head nav ul li a:hover {
  background-color: #858BFD;
  width: 100%;
}

body header .container #head nav .sign-in {
  background-color: #858bfd;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: .75em 1em;
  margin: 0 .25em;
  box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
  -moz-box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
}

body header .container #head nav .sign-in:hover {
  color: #858bfd;
  background: none;
  border: 1px solid #858bfd;
}

body header .container #head nav .sign-up {
  background: none;
  color: #858bfd;
  border-radius: 10px;
  border: 1px solid #858bfd;
  padding: .75em 1em;
  box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
  -moz-box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
}

body header .container #head nav .sign-up:hover {
  background-color: #858bfd;
  color: #fff;
  border: none;
}

body header .container .nav-mobile {
  display: block;
  font-size: 1.4rem;
  margin: 1em;
}

body header .question {
  margin-top: 10vh;
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: rgba(133, 139, 253, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  text-align: center;
}

body header .question .form {
  width: 100%;
}

body header .question .form h1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1em 0;
}

body header .question .form input[type="text"] {
  display: block;
  margin: 1em 2em;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-bottom: 2px solid #cacaca;
  width: 80%;
}

body header .question .form input[type="text"]::-webkit-input-placeholder {
  color: #121212;
  font-weight: 400;
}

body header .question .form input[type="text"]:-ms-input-placeholder {
  color: #121212;
  font-weight: 400;
}

body header .question .form input[type="text"]::-ms-input-placeholder {
  color: #121212;
  font-weight: 400;
}

body header .question .form input[type="text"]::placeholder {
  color: #121212;
  font-weight: 400;
}

body header .question .form button {
  background-color: #858bfd;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: .75em 1em;
  margin: 25px .25em;
  box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
  -moz-box-shadow: -1px 4px 5px 0px rgba(210, 210, 211, 0.75);
}

body header .question .form button:hover {
  color: #858bfd;
  background: none;
  border: 1px solid #858bfd;
}

body main {
  padding: 5em 0;
  width: 90%;
  margin: auto;
}

body main .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .choice .each-question {
  width: 40%;
  height: auto;
  padding: 1em;
  background-color: #121212;
  color: #f3f2ff;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #858BFD;
}

body main .choice .each-question p {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  body header .container #head #for-header {
    display: none;
    -webkit-animation: all 1s;
            animation: all 1s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 100vh;
    background-color: #858bfd;
  }
  body header .container #head #for-header i {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    cursor: pointer;
  }
  body header .container #head #for-header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header .container #head #for-header button {
    width: 30%;
    background-color: #121212;
    border: none;
    color: #858bfd;
    font-size: 1rem;
    margin: .75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  body header .container #head .nav-mobile {
    display: block;
  }
  body header .container #head .nav-mobile i {
    font-size: 1.4rem;
    cursor: pointer;
  }
}
/*# sourceMappingURL=question.css.map */